
#mainWindow {
	-fx-background-color:rgb(77,77,77);
}

#Receiver {
	-fx-background-color:rgb(253,222,165);
}

#helpWindow{
	-fx-background-color:rgb(77,77,77);
}
#StartButton{
	-fx-background-image: url("/home/kondzio/git/JavaFX/src/ikony/arrow-left-double-3.png");
    -fx-background-size: 48 48;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
}
